doctype html

html
    head
        title Error
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(content="IE=edge,chrome=1,chrome=1", "http-equiv"="X-UA-Compatible")
        meta(charset="utf-8")
        meta(content="yes", name="apple-mobile-web-app-capable")

    body
        H1 Error page